<header class="ui-header">
  <div class="ui-header__row">
    <button class="ui-button ui-button--icon" (click)="__global.history.back()">
      <i class="material-icons">arrow_back</i>
    </button>
    <span class="ui-header__title">[[title]]</span>
  </div>
</header>

<form class="ui-padding" (submit)="doRegister(evt)">
  <ui-textfield label="Email" value="{{email}}"></ui-textfield>
  <ui-textfield label="Full name" value="{{fullname}}"></ui-textfield>

  <ui-reveal>
    <ui-textfield label="Password" type="password" value="{{password}}"></ui-textfield>
  </ui-reveal>

  <button class="ui-button ui-button--block ui-button--colored">Register</button>
</form>


<hr>

<div class="ui-padding" style="text-align: center">
  <button class="ui-button ui-button--block ui-button--colored">Facebook</button>
  <br>
  <br>
  <button class="ui-button ui-button--block ui-button--raised">Google</button>
</div>
