<ui-slides class="ui-layout ui-layout--h" show-default-pagination>
  <div class="swiper-slide slide-1">
    <div class="content">
      <h1>Awesome!</h1>
    </div>
  </div>
  <div class="swiper-slide slide-2">
    <div class="content">
      <h1>Nice!</h1>
    </div>
  </div>
  <div class="swiper-slide slide-3">
    <div class="content">
      <h1>Sleek!</h1>
    </div>
  </div>
  <div class="swiper-slide slide-4">
    <div class="content">
      <div class="ui-padding">
        <a class="ui-button ui-button--colored ui-button--block" href="#!/login">
          Login
        </a>
      </div>
      <div class="ui-padding">
        <a class="ui-button ui-button--colored ui-button--block" href="#!/register">
          Register
        </a>
      </div>
    </div>
  </ui-slide>
</ui-slides>
